// Colors

// Dark theme
$color-primary: #1D1C1B;
$color-secondary: #DDD3BA;
$color-tertiary: #ADA593;
$color-border: rgba(221, 211, 186, 0.3);

// // Light theme
// $color-primary: white;
// $color-secondary: #2f2f31;
// $color-border: #2f2f31;
// $color-tertiary: #2f2f31;

